<% @books.each do |book| %>
	<div class="info">
	<ul>
		<li><%= image_tag(book.image, :class => 'thumbnail')%></li>
		<li>Title: <%= link_to(book.title, book) %></li>
		<li>Style: <%= book.style %></li>
		<li>Year: <%= book.year %></li>
		<li>Pages: <%= book.pages %></li>	
	</ul>
	</div>
<%end%>