<!DOCTYPE html>
<html>
<head>
  <title>SciFiLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Geostar+Fill' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class='logo'>
		SCI-FI   LIB
	</div>
	<nav>
		<ul>
			<li><%= link_to('Authors', authors_path) %></li>
			<li><%= link_to('New Author', new_author_path) %></li>
			<li><%= link_to('Books', books_path) %></li>
			<li><%= link_to('New Book', new_book_path) %></li>
		</ul>
	</nav>


</header>

<div class="container">
	<%= yield %>
</div>

<footer>
	<p>&copy T.Butenko 2014</p>
</footer>

</body>
</html>
